
@font-face{
    font-family: 'Montserrat 400', sans-serif;
}

body{
    padding: 0px;
    margin: 0px;

}

h1{
    font-family: 'Montserrat', sans-serif, bold;
    color: white;
    font-size:3rem;
    margin: 0px;

}

p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 0px 0px 20px 0px;
 

}

#header{
   overflow: auto;
   background-color: #00AEEF;


}

#brand{
    border: 50px 50px;
    padding: 50px 50px 50px 50px;
    margin: 50px 50px;
    text-align: center;
}

#brand img{
    width: 15rem;
    height: auto;
}


#nav{}

.lista ul li{
    padding: 50px 20px 20px 20px ;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: white;
    float: right;

}

/*.txt-bici-mlg{
    color: #02182B;
    text-align: center;
    margin: 10rem;
    padding: 3rem;
    font-size: 4rem;
    z-index: 1;
    position: relative;
}

.img-banner {
    width: auto;
    height: 450px;
    overflow: hidden;
    margin: 0px;
    position: relative;
}


.crop{
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    width: 120%;
    min-height: 5%;
    min-width: 5%;
    opacity: 0.7;

}*/



#img-banner {
    background-image: url(img/images/alquiler-bicicletas-malaga.jpg);
    background-size: cover;
    height: 60vh;
    position: relative;
    background-position: center;
    
}

#capa-banner{
    height: 60vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5)
}

#img-banner p{
   text-align: center;
   padding-top: 20vh;
   margin-top: 0vh;
   font-size: 4rem;
   color: #000080;
   opacity: 1;
   position: relative;

}



#logo{
    margin: 20px 0px 20px 50px;
    float: left;
    

}
#logo img{
    width: 3rem;
    margin: 1rem;

}

#logo p{
    font-family: 'Montserrat', sans-serif, bold;
    color: white;
    margin: 0px;
}

#slider-ciudad{
    font-family: 'Montserrat 400', sans-serif;
    text-align: center;
}

.ciudad{
    font-family: 'Montserrat 400', sans-serif;
    
}

#slider-ciudad p{
    font-family: 'Montserrat 400', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    

}

.far{
    width: 20px;   
}


input{
    font-family: 'Montserrat 400', sans-serif;
    background-color:#D7263D;
    color: white;
    border: none;
    padding: 3px;
}

#nav input{
    font-family: 'Montserrat 400', sans-serif;
    background-color:#D7263D;
    color: white;
    border: none;
    padding: 3px;
}

#main{
   

}

#main h2{
    font-family: 'Montserrat 400', sans-serif;
    color: #00AEEF;
    text-align: center; 
    margin: 10vh 0vh;
}

#lista-bicicletas{
    color: #02182B;
    margin: 0vh 0vh 20vh 0vh;
      
}

#lista-bicicletas table{
    margin: 0 auto;
    text-align: left;
    padding: 2vh;
    font-family: 'Montserrat 400', sans-serif;
    border-collapse: collapse;
}
#lista-bicicletas table th{
    background-color: #D7263D;
    padding: 2vh 8vh 2vh 8vh;
    color: #ffffff;
    
}

.zebra tbody tr:nth-child(3n+2) {
    background-color: #c0c0c0;

  }

#lista-bicicletas table tr{
    padding: 5vh 8vh 5vh 8vh;
}
#lista-bicicletas table td{
    padding: 4vh 4vh 4vh 4vh;
}

.quedan-pocas{
    color: #D7263D;
    font-weight: bold;
}


#contenedor-rutas{
    background-color: #c0c0c0;
    height: 100vh;
   
}

#contenedor-rutas h3{
    color: #02182B;
    font-family: 'Montserrat 400', sans-serif;
    text-align: center;
    padding: 5vh;
}

.row-rutas{
    color: #02182B;
    font-family: 'Montserrat 400', sans-serif;
    text-align: center;
    

    width: 1000px;
    margin: 0 auto;
}

.col-ruta{
    height: 50vh;
    width: 33%;
    float: left;
}

.col-ruta img{
    width: 100%;
}

.col-ruta p{
    display: inline-flex; 
    width: 100%;
    background-color: #02182B;
    padding: 15px 0px;
    margin: 0px;
    
}


.col-ruta i{
    width: 100%;
}

.col-ruta input{
    padding: 2vh 3vh;
}






#footer{

}

.contenedor-menu{

}

.menu{

}

.brand{

}

.left{

}

.right{

}
