
@font-face{
    font-family: 'Montserrat 400', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif, bold;
    color: white;
    font-size:3rem;
    margin: 0px;

}

p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 0px 0px 20px 0px;
 

}

#header{
   overflow: auto;
   background-color: #00AEEF;


}

#brand{
    border: 50px 50px;
    padding: 50px 50px 50px 50px;
    margin: 50px 50px;
    text-align: center;
}

#brand img{
    width: 15rem;
    height: auto;
}


#nav{}

.lista ul li{
    padding: 50px 20px 20px 20px ;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: white;
    float: right;

}

.txt-bici-mlg{
    color: #02182B;
    text-align: center;
    margin: 10rem;
    padding: 3rem;
    font-size: 4rem;
    z-index: 1;
    position: relative;
}

.img-banner {
    width: auto;
    height: 450px;
    overflow: hidden;
    margin: 0px;
    position: relative;
}


.crop{
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    width: 120%;
    min-height: 5%;
    min-width: 5%;
    opacity: 0.7;

}


/*
#img-banner {
    background-image: url(img/images/alquiler-bicicletas-malaga.jpg);
    background-size: cover;
    height: 50vh;
    opacity: 0.7;
    background-position: center;
    
}

#img-banner p{
   text-align: center;
   padding-top: 10%;
   margin-top: 0px;
   font-size: 4rem;
   color: #ffffff;
   z-index: 0;
}*/



#logo{
    margin: 20px 0px 20px 50px;
    float: left;
    

}
#logo img{
    width: 3rem;
    margin: 1rem;

}

#logo p{
    font-family: 'Montserrat', sans-serif, bold;
    color: white;
    margin: 0px;
}

#slider-ciudad{
    font-family: 'Montserrat 400', sans-serif;
    text-align: center;
}

.ciudad{
    font-family: 'Montserrat 400', sans-serif;
    
}

#slider-ciudad p{
    font-family: 'Montserrat 400', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    

}

.far{
    width: 20px;   
}


input{
    font-family: 'Montserrat 400', sans-serif;
    background-color:#D7263D;
    color: white;
    border: none;
    padding: 3px;
}

#nav input{
    font-family: 'Montserrat 400', sans-serif;
    background-color:#D7263D;
    color: white;
    border: none;
    padding: 3px;
}

#main{

}

#main h2{
    font-family: 'Montserrat 400', sans-serif;
    color: #00AEEF;
    text-align: center;
}

#lista-bicicletas{
    
}

#lista-bicicletas table{
    align-content: center;
}
#lista-bicicletas table th{
    background-color: #D7263D;
}
#contenedor-rutas{

}

.row-rutas{

}

.col-ruta{

}

#footer{

}

.contenedor-menu{

}

.menu{

}

.brand{

}

.left{

}

.right{

}
